<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Golfweek Amateur Tour of Nashville</h1>
		<br />
		<h2>Points Game App</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Add Course</h3>
    <br />
    <p>Define the course and par for each hole</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Add Player</h3>
    <br />
    <p>Establish new players with point quota</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Add New Points Game</h3>
    <br />
    <p>Let's get those points!</p>
  </div>
</div>
