<br />
<div class="booyah-box col-10 offset-1">
  <h1>Add players to Game</h1>
  	<%= simple_form_for @gameplayer, url: director_game_gameplayers_path(@game) do |f| %>
    <br />
  	<%= f.collection_select :player, Player.order(:name), :id, :name, {prompt: "Select Player"} %>
  	<br /><br />
    <%= f.submit "Add player" %>
  <% end %>
</div>