<br />

<div class="booyah-box col-10 offset-1">
	<h1 class="text-center">Courses</h1>
		<div class="float-right">
	    	<%= link_to 'Add Course', new_director_course_path, class: 'btn btn-primary' %>
	    	<br />
	    </div>

</div>
<br /><br />
	<% @courses.each do |course| %>
		<h2 class="text-center">
			<%= link_to course.name, director_course_path(course) %>
		</h2>
		<br />
	<!-- </div> -->
		
	<!-- <br class="clr" /> -->
	<% end %>
<!-- </div> -->
