<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="">Add new Game</h1>
  <%= simple_form_for @game, url: director_games_path do |f| %>
  	<p>Course</p>
  	<%= f.collection_select :course, Course.order(:name), :id, :name %>
  	<br /><br />
  	<%= f.input :date %>
  	<br /><br />
	<%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
</div>