<br />

<div class="booyah-box col-10 offset-1">
	<h1 class="text-center">Players</h1>
	<div class="text-center">
		<%= link_to 'Add Players...', new_director_player_path, class: 'btn btn-primary btn-lg' %>
	</div>
</div>
<br />

	<% @players.each do |player| %>
		<h2 class="text-center">
			<%= link_to player.name, director_player_path(player) %>
		</h2>
		<br />
	<!-- </div> -->
		
	<!-- <br class="clr" /> -->
	<% end %>
<!-- </div> -->
